.drone-container{
    white-space: nowrap;
    border: 2px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    display: block;
    max-width: 100%;
    min-width: 50%;
    max-height: 400px;
    overflow-y: hidden;
}

.drone-container-title{
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 2em;
    margin-right: 2em;
    font-weight: bold;
}

td {
    height: 50px;
    vertical-align: bottom;
    text-align: center;
}

td, th {
    word-wrap: break-word;
    
    white-space: normal;
    hyphens: auto;   
}

table {
    
    border: 2px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    display: block;
    max-width: 400px;
    max-height: 350px;
    overflow-y: auto;
    overflow-x: hidden;
}

.drone-update-time{
    text-align: right;
    line-height:25px
}

.drone-sort-icon{
    font-size: 50%;

}

.drone-item{
    text-align: left;
    padding-top: 10px;
    font-size: 90%;
    white-space: pre-wrap;
    word-wrap:break-word
}

.drone-item-object{
    display: grid;
    grid-template-columns: 1fr 120px;
    gap: 10px;
}

.drone-item-object span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
  }