.image-tag {
    padding: 5px;
    border: 1px solid #ccc;
    margin: 5px;
    display: block;
    align-items: center;
    border-radius:5px;
    background: #f2f2f2;
}

.image-tag-container{
    white-space: nowrap;
    border: 2px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    display: block;
    max-width: 100%;
    min-width: 50%;
    max-height: 400px;
    overflow-y: auto;
}

.docker-expand input, label{
    display: block;
}

.image__search{
    border: 1px solid black;
    border-radius: 2px;
    outline: none;
    width: 50%;    
}

.image__search-container{
    text-align: right;
    margin-top: 10px;
    margin-bottom: 5px;
}
