.node-container-title{
    text-align: center;
}

.node-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    background-color: #2196F3;
    height: 600px;
    max-height: 600px;
    overflow-y: auto;

}

.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: rgba(255, 255, 255, 0.8);
    margin: 20px;
    width: 420px;
    height: 400px;
    border-radius: 16px;

}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-container{
    padding: 2px 16px;
    max-height: 292px;
    overflow-y: auto;
}

.title{
    text-align: center;
    margin-bottom: 5px;
    margin-top: 5px;
}

.k8s-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 365px;
    height: 60px;
    flex-grow: 0;
    margin: 0;
    padding: 7px 0 6px 0;
    border-radius: 8px;
    background-color: rgba(199, 207, 214, 0.15);

}

.outer{
    border: black 2px solid;
    width: 90%;
    height: 40px;
    border-radius: 10px;
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: space-between;
    background: goldenrod;
}

.pole{
    height: 30px;
    width: 4px;
    border-radius: 5px 0 0 5px;
}

.container-info {
    vertical-align: middle;
}

.info-name {
    width: 95px;
    height: 22px;
    flex-grow: 0;
    margin: 0;
    font-family: Inter, serif;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.info-id {
    width: 60px;
    height: 11px;
    flex-grow: 0;
    margin: 0;
    font-family: Inter, serif;
    font-size: 9px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.close-btn{
    position: absolute;
    top: 16px;
    right: 16px;
}

.popup{
    background-color: #2ea591;
    min-width: 600px;
    min-height: 400px;
    max-width: 600px;
    max-height: 400px;
    justify-items: center;
    align-items: center;
}


