.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1b2522;
  /*background: transparent;*/
  /*border-bottom: 0.5px solid #777;*/
  padding: .25rem 1rem .25rem 1rem;
  min-width: 420px;
  position: relative;
}

.nav-list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}

.nav-list a, .nav-list .btn{
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
}

/*added for being center*/
.nav-list a{
  margin-left: 1rem;
  margin-right: 1rem;
}

.nav-list a:hover{
  cursor: pointer;
}

.nav-list.click {
  color: #CCC;
  padding-bottom: .2rem;
  border-bottom: 1.5px solid  hsl(200, 100%, 80%);
}

.starling-with-logo{
  display: flex;
  align-items: center;
}

.starling-with-logo:hover{
  cursor: pointer;
}

.bird-icon{
  width: 40px;
  margin-right: 2px;
}

.nav-title {
  font-size: 1.25rem;
  margin: 0;
  color: hsl(200, 100%, 80%);
}

.account-icon{
  margin-right: .3rem;
  object-position: 0px 2px;
}

.user-dropdown{
  position: absolute;
  top:1.8rem;
  right: -5rem;
  width:200px;
  transform: translateX(-45%);
  background-color: #1b2522;
  padding: 1rem;
  box-shadow: 0px 3px 5px -1px #ccc;
  z-index: 1;
}

.user-dropdown li{
  padding: 0.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  /*border-left: 1.5px solid hsl(200, 100%, 50%) ;*/
}

.user-dropdown a{
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
}

.user-dropdown a:hover, .user-dropdown a:focus{
  color: #CCC;
}

.font-changer{
  display: flex;
  position: absolute;
  right: 8.5rem;
  top: .5rem;
}

.font-changer-small{
  width: 100%;
  border: 1px solid #f1f1f1;
  border-radius: .2rem;
}

.font-changer-big{
  width: 100%;
  border: 1px solid #f1f1f1;
  border-radius: .2rem;
}

.font-changer-big:hover, .font-changer-small:hover{
  cursor: pointer;
}