.node{
    /*background: linear-gradient(to bottom, hsl(200, 100%, 50%), hsl(200, 100%, 10%));;*/
    border-radius:5px;
    background: black;
    color: #f2f2f2;
    /*padding: 1.2rem .75rem;*/
    padding-top: 0;
    font-size: 1rem;
    box-shadow: 0 0 1px 0 hsl(0, 0%, 70%);
    /*node max width*/
    max-width:25rem;
    min-width: 15rem;
    position: relative;
}

.node:hover,
.node:focus{
    box-shadow: 0 0 5px 0 hsl(0, 0%, 70%);
}

.node-title-bar{
    background: linear-gradient(to bottom, hsl(200, 100%, 20%), black);
    /*background: hsl(200, 100%, 40%);*/
    padding: 1.2rem 1.5rem;
    padding-right: 2rem;
    border-top-right-radius:5px;
    border-top-left-radius:5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.node-title-bar:hover,
.node-title-bar:focus{
    cursor: pointer;
}

.node-title{
    font-size: 1.5rem;
    font-weight: bold;
}

.node-kind{
    font-weight: bold;
    font-size: .9rem;
    padding: .5rem;
    border-left: 2px solid #f2f2f2;
}

.setting-icon{
    width: 20px;
    position: absolute;
    top: .2rem;
    right: .5rem;
}

.setting-icon:hover,
.setting-icon:focus{
    cursor: pointer;
    background: #333;
    padding: .1rem;
    width: 21px;
}

.drone-icon-container{
    display: flex;
    justify-content: center;
}

.drone-icon-container:hover,
.drone-icon-container:focus{
    cursor: pointer;
}

.drone-icon{
    width:65%;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.computer-icon{
    width:40%;
    margin: 0;
}

.node-image-tag-number{
    display: flex;
    justify-content: space-between;
    margin-bottom: .5rem;
    align-items: baseline;
}

.node-image-tag-number .btn.btn-small.btn-menu{
    margin: 0;
    background: transparent;
}

.image-number{
    margin: 0;
    padding: 0;
    padding-top: 0;
    padding-left: 0;
    margin-bottom: .5rem;
    color: rgb(205, 205, 205);
}

.node-image-tag-container{
    margin: 1rem 1.5rem;
    background: hsl(200, 100%, 20%);
    height: 10rem;
    /*max-height: 11rem;*/
    overflow-y: auto;
    padding: .75rem;
    border-radius: 5px;
}

.items-body-content.node-image {
    display: grid;
    grid-template-columns: 1fr 15px;
    margin-bottom: .5rem;
  }

.items-body-content.node-image:hover,
.items-body-content.node-image:focus{
    cursor: pointer;
}
  
.delete-icon{
    width: 15px;
}

.node-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;
}

