.popup-projects{
    position: fixed;
    top:0;
    left: 0;
    width:100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.popup-projects-inner{
    max-height: 85vh;
    min-height: auto;
    width: 45%;
    max-width: 640px;
    min-width: 300px;
    padding: 2rem;
    padding-top: 1.5rem;
    
    /*very light gray*/
    background-color: hsl(0, 0%, 95%);

    border-radius: 8px;
    display: flex;
    flex-direction: column;

    z-index: 20;
}


/*long-shape*/
.popup-projects-inner.user{
    max-width: 400px;
    min-width: 300px;
}

.popup-projects-inner .deploy{
  padding-right: 1rem;
  overflow-y: auto;
}

.popup-header {
    color: #1B2522;
    padding: 0 1rem;
    border-bottom: 1px solid #777;
    padding-bottom: .5rem;
    display: flex;
    justify-content: space-between;
}

.popup-header.table, .popup-header.owner{
  border-bottom: none;
}
  
.popup-title {
    font-size: 1.5rem;
    padding-top: 1rem;
    font-weight: bold;
}

  
.popup-close-button {
    background: none;
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
    cursor: pointer;
    align-self: flex-start;
    padding-top: .5rem;
}

.popup-close-button.hide{
  margin-right: 1rem;
  font-size: 1rem;
}

.popup-close-button:hover,
.popup-close-button.hide:hover{
  color: hsl(200, 100%, 40%);
} 

/*.popup-projects-inner.share {
  margin: 0;
  margin-top: 1rem;
  overflow-y: auto;
  overflow-x: hidden;
  padding: .2rem;
  min-height: 40vh;
}*/

.people-list{
  margin-top: 1rem;
  margin-bottom: .5rem;
  font-weight: bold;
}

.node-list{
  margin-top: 1.2rem;
  margin-bottom: 0;
  font-weight: bold;
}

.unsaved-list{
  margin-bottom: .5rem;
  font-weight: bold;
}

.unsaved-item{
  list-style: inside;
  padding-left: 1rem;
}

.unsaved-item:hover{
  cursor: pointer;
  color: hsl(200, 100%, 50%);
  font-weight: bold;
}

.node-list:first-of-type{
  margin-top: .5rem;
}

.people{
  margin: .7rem;
  padding: .3rem;
  margin-top: .5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.node-item{
  padding: .3rem;
  margin-top: .5rem;
  margin: .2rem 0rem;
}

.people:hover{
  border-left: 2px solid hsl(200, 100%, 40%);
}

  .form {
    margin: 0;
    margin-top: 0rem;
    overflow-y: auto;
    overflow-x: hidden;
    padding: .2rem;
  }
  
  .form label {
    color: black;
    font-weight: bold;
  }
  
  .form input,
  .form textarea {
    width: 100%;
    margin-top: .25rem;
    margin-bottom: .75rem;
    outline: none;
    border: 1px solid #1B2522;
    border-radius: .3em;
    padding: .5em;
    color: inherit;

  }
  
  .form textarea {
    resize: vertical;
    min-height: 75px;
    max-height: 200px;
  }
  
  .form input:focus,
  .form textarea:focus {
    border-color: #0AF;
  }

  .popup-footer.normal {
    display: flex;
    justify-content: center;
  }

  .popup-footer.normal.display {
    margin-top: 1.5rem;
  }
  
  .popup-footer.normal .btn-primary {
    color: white;
    background-color: hsl(200, 100%, 50%);
    margin: .5rem 1rem;
    margin-right: 0;
  }

  .popup-footer.normal .btn-primary:hover,
  .popup-footer.normal .btn-primary:focus {
    background-color: hsl(200, 100%, 40%);
  }
  
  .popup-footer.normal .btn-danger {
    color: white;
    background-color: hsl(0, 60%, 50%);
    margin: .5rem 1rem;
    margin-right: 0;
  }

  .popup-footer.normal .btn-danger:hover,
  .popup-footer.normal .btn-danger:focus {
    background-color: hsl(0, 60%, 40%);
  }

.popup-footer.single .btn {
    color: white;
    margin: 0 auto;
    background-color: hsl(200, 100%, 50%);
    width: 100%;
}
  
.popup-footer.single .btn:hover,
.popup-footer.single .btn:focus {
    margin: 0 auto;
    background-color: hsl(200, 100%, 40%);
    width: 100%;
}

.popup-projects-inner.user p{
    font-size: 1rem;
    color: hsl(200, 100%, 40%);
}

.link{
    cursor: pointer;
}

.popup-projects-inner.user .forgot{
    font-size: .9rem;
    text-align: right;
    position: relative;
    bottom: 20px;
}

/*.error-message{
    margin: 0 auto;
    padding: 1rem .5rem;
    border: 1px solid hsl(0, 60%, 50%);
    border-radius: .3em;
    background-color: hsl(0, 60%, 90%);
    color: hsl(0, 60%, 30%);
}*/

.title-error{
  color: hsl(0, 60%, 50%);
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #777;
}

/*.success-message{
    margin: 0 auto;
    padding: 1rem .5rem;
    border: 1px solid hsl(145, 63%, 41%);
    border-radius: .3em;
    background-color: hsl(145, 63%, 90%);
    color: hsl(145, 63%, 20%);
}*/

.wait-message{
  display: flex;
  align-items: center;
  margin: 0;
  padding-top: .5rem;
  padding-left: .2rem;
  color: #777;
}

.title-success{
  color: hsl(145, 63%, 41%);
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #777;
}

.title-alert{
  color: rgb(248,125,9);
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #777;
}

.table-wrapper{
  margin-top: 1rem;
  overflow-y: auto;
  overflow-x: auto;
}

.fl-table {
  border-radius: 5px;
  font-size: .95rem;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  background-color: white;
}

.fl-table td, .fl-table th {
  text-align: center;
  padding: .75rem;
}

.fl-table td {
  border-right: 1px solid #f8f8f8;
  font-size: .95rem;
}

.fl-table tbody tr:hover {
  cursor: pointer;
  background-color: lightgray;

}

.fl-table thead th {
  color: #ffffff;
  background: #4FC3A1;
}

.fl-table thead th:hover {
  /*background: hsl(162, 49%, 40%);*/
  cursor: pointer;
  text-decoration: underline;
}

.fl-table thead th:nth-child(odd) {
  color: #ffffff;
  background: #324960;
}

.fl-table thead th:nth-child(odd):hover {
  /*background: 	hsl(210, 32%, 50%);*/
  cursor: pointer;
  text-decoration: underline;
}

.fl-table tr:nth-child(even) {
  background: #F8F8F8;
}

.popup {
  padding: 1.5rem 2.5rem;
  /*very light gray*/
  background-color: hsl(0, 0%, 95%);
  border-radius: 8px;
  width: 40vw;
  min-width: 200px;
  min-height: 30vh;
  max-height: auto;
  position: relative;
}

.popup-footer.normal .btn.short{
  justify-self: center;
  width: 5rem;
  color: white;
  margin: 0 auto;
  background-color: hsl(200, 100%, 50%);
}

.popup-footer.normal .btn.short:hover,
.popup-footer.normal .btn.short:focus{
  background-color: hsl(200, 100%, 40%);
}

.popup .close {
  background: none;
  outline: none;
  border: none;
  position: absolute;
  top: 15px;
  right: 10px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
}

.popup .close:hover {
  cursor: pointer;
}

.popup .content {
  color: #333;
  font-size: 1.1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  overflow-y: auto;
}

.sync-time{
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  align-items: flex-end;
  margin-bottom: .5rem;
}

.sync-time span{
  font-size: .9rem;
  margin-top: .3rem;
}

.sync-time .btn{
  margin: 0;
}

.advanced-setting{
  margin-top: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  overflow-y: auto;
  overflow-x: hidden;
  color: #1B2522;
}

.wordwrap + .advanced-setting{
  margin-top: .75rem;
}

.popup-projects-inner.advanced-setting{
  min-width: 380px;
}

.advanced-setting.stack{
  margin-top: 1rem;
  overflow-x: auto;
}

/*responsive*/
@media (min-width: 1030px) {
  .popup-major { 
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    justify-content: space-between;
  }
}

.popup-major{
  display: grid;
  gap: 10px;
  justify-content: space-between;
}

.popup-major.stack{
  display: grid;
  grid-template-columns: repeat( auto-fill, minmax(300px, 1fr) );;
  gap: 2px;
}

.sub-title{
  font-weight: bold;
  margin-top: 1.5rem;
  margin-bottom: .5rem;
  font-size: 1rem;
}

.sub-title.grid{
  margin-bottom: 0;
  position: relative;
}

.popup-secondary{
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
}

.popup-major-key{
  font-size: .9rem;
  font-weight: bold;
  margin-right: .5rem;
  color: #555;
  margin-top: .75rem;
}

.popup-major-key.major{
  font-size: 1rem;
  color: #1B2522;
}

.popup-major input{
  width: 12rem;
}

.popup-major input.width-100{
  width: 100%;
}

.dropdown-select{
  font-size: 1rem;
  padding: .5rem;
  border: 1px solid #AAA;
  outline: none;
  border-radius: .2em;
}

.dropdown-select > option{
  font-size: 1rem;
  margin: .5rem;

}

.dropdown-select:focus {
  border-color: #0AF;
  box-shadow: 0 0 5px 0 #0AF;
}


.popup-pair-grid{
  display: grid;
  gap: 5px;
  grid-template-columns: 1fr 1fr 5px;
  padding-left: 1rem;
  justify-items: center;
  align-items: end;
  justify-content: center;
}

.popup-pair-grid.popup-value{
  margin-bottom: .3rem;
}

.popup-pair-grid.popup-value.input-small{
  max-width: 12rem;
  padding-left: .5em;
  font: .9rem;
}

.add{
  width: 20px;
  position:absolute;
  left: 2rem;
}

.add.port{
  left: 2.3rem;
}

.add:hover, .add:focus{
  width: 25px;
  cursor: pointer;
}

.popup-pair-grid-btn{
  background: none;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  margin-left: .5rem;
  padding: 0;
  margin-bottom: .2rem;
  cursor: pointer;
  padding-top: .5rem;
  color: hsl(0, 60%, 50%);
}

.popup-pair-grid-btn:hover,
.popup-pair-grid-btn:focus{
  color: hsl(0, 60%, 40%);
}

.required{
  margin-left: .1rem;
  font-size: .75rem;
  color: red;
}