.project-container{
    display: grid;
    grid-template-columns: repeat(2,auto);
    row-gap:5px;
    column-gap: 40px;
    /*justify-content: flex-start;*/

    white-space: nowrap;
    border: 2px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    max-width: 100%;
    min-width: 50%;
    max-height: 400px;
    overflow-y: auto;
}

.project-container-single{
    display: grid;
    grid-template-columns: auto;
    row-gap:40px;
    column-gap: 40px;
    /*justify-content: flex-start;*/

    white-space: nowrap;
    border: 2px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    max-width: 100%;
    min-width: 50%;
    max-height: 400px;
    overflow-y: auto;
}

.btn-add-node{
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-title{
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}